################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankingApplication/.vs/BankingApplication/v16
/BankingApplication/.vs/BankingApplication/config/applicationhost.config
/BankingApplication/.vs/BankingApplication/DesignTimeBuild
